body {
    margin: 0;
    background-color: aliceblue;
    overflow: hidden;
}
/* ================ Card =================== */
.container {
    background-color: silver;
    /* width: 00vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 400px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.349);
    padding: 20px 20px;
    /* justify-content: center; */
    align-items: center;
}
.nama {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 100px;
}
.name {
    font-weight: 900;
    font-size: x-large;
    width: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}
.FotoSelfie{
    width: 350px; 
    height: 350px;
    border-radius: 10px 10px 0 0;
}
.foto {
    height: 450px;
    /* background-color: azure; */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.349);
    border-radius: 10px; 
    margin-bottom: 15px;
   }
.front {
    margin: 0;
    font-weight: bold;
}
.atas {
    display: flex;
    flex-direction: row;
}
p {
    text-align: justify;
    margin-right: 25px;
}
/* ================ Video =================== */
.contain {
    display: flex;     
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video {

}
.button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 45px;
    background-color: midnightblue;
    border-radius: 15px;
    margin-bottom: 15px;
}
.button a{
    color: white;
}