body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.644);

}

/* ======== Media Mobile============= */
/* @media only screen and (max-width: 622px) {} */

/* ======== Media Tablet============= */
/* @media only screen and (min-width: 622px) {} */

/* ======== Media Desktop/Laptop============= */
@media only screen and (min-width: 992px) {
    .conten {
        width: 1400px;
    }
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* ================ Conten =================== */

.conten {
    display: flex;
    flex-direction: column;
}

.conten-ul {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}

.conten-ul1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

img {
    width: 200px;
    height: 180px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

img.akhir {
    width: 310px;
    height: 220px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

a li {
    list-style: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

a {
    text-decoration: none;
}