* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ========Media Mobile============= */
@media only screen and (max-width: 622px) {

    .nav-sub {
        display: none;
    }

    .contact-sub {
        display: none;
    }

    .tog-sub {
        height: 15rem;
        /* background-color: #cecece; */
        box-sizing: border-box;
        display: none;
        position: fixed;
        top: 60px;
    }

    .tog-sub .tog-close {
        display: flex;
        justify-content: center;
    }

    .tog-sub span {
        box-sizing: border-box;
        width: 100vw;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid #cecece;
        background-color: white;
    }

    .tog-sub span:hover {
        cursor: pointer;
        background-color: sandybrown;
    }

    .tog-sub span.active {
        background-color: red;
        color: white;
    }

    .tog-open {
        margin-right: 10px;
    }

    .tog-open i:hover {
        color: sandybrown;
        cursor: pointer;
    }

    .tog-close {
        box-sizing: border-box;
        width: 100vw;
        background-color: #cecece;
        border: 10px solid #cecece;
    }

    i {
        font-size: 2.1rem;
    }

    .tog-sub.active {
        display: block;
    }

    .logo-nav {
        display: flex;
        margin-left: 15px;
    }
}

/* ========Media Tablet============= */
@media only screen and (min-width: 623px) {

    .tog-sub {
        display: none;
    }

    .tog-open {
        display: none;
    }

    .logo-nav {
        display: flex;
        margin-left: 15px;
    }

    .nav-sub {}

    .active {
        font-weight: bold;
        cursor: pointer;
        color: red;
    }

}

/* ========Media Desktop/Laptop============= */
/* @media only screen and (min-width: 992px) {



} */

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(231, 231, 231);
    height: 60px;
    position: fixed;
}

.nav-sub {
    width: 100%;
    justify-content: start;
}

.nav-sub ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-sub ul li {
    list-style: none;
}

.nav-sub ul li:hover {
    font-weight: bold;
    cursor: pointer;
}


/* =============LOGO============ */
.logo-nav {
    display: flex;
    justify-content: end;
}

.logo {
    width: 50px;
    height: 35px;
}


.contact-sub {
    width: 200px;
}

.contact {
    width: 135px;
    height: 35px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* =============Tog============ */

.tog {
    margin: 0 10px;
    font-size: 2rem;
}

.tog-close:hover {
    cursor: pointer;
}